    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Starbucks</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Custom styles for this template -->
</head>

<body>
<div ng-app="myApp.cart" ng-controller="cartCtrl" data-ng-init="init()" >
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style = "padding-top:-50px;">
                <a class="navbar-brand" href="/"><img
                        src="http://www.pngmart.com/files/3/Starbucks-Logo-PNG-File.png"
                        width="50px"/></a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/cart">My Bag</a></li>
                    <li><a href = "/orders">Orders</a></li>
                    <li><a href="myAccount.html">Signin</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Milk</th>
                    <th class="text-center">Size</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="x in order.items">
                    <td class="col-sm-8 col-md-1">
                    <!--    <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">
-->
                                    <select class="form-control" ng-model="x.name" ng-options="y for y in products" style="width:150px">
                                    </select>



                            </div>
                        </div></td>
                    <td class="col-sm-1 col-md-1" style="...">
                        <input type="text" class="form-control" id="exampleInputEmail1" ng-model="x.qty"></input>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center">
                        <select ng-model="x.milk" class="form-control" ng-options="z for z in milkType"></select>
                    </td>
                    <td class="col-sm-1 col-md-1 text-center">
                        <select ng-model="x.size" class="form-control" ng-options="z for z in size"></select>
                    </td>
                    <td class="col-sm-1 col-md-1">
                        <button ng-click="removeItem($index)" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button></td>
                </tr>
                <tr>
                    <td>  <button class="btn btn-primary" ng-click="addItem()"> Add Item <span class="glyphicon glyphicon-plus"></span></button> </td>
                    <td>   </td>
                    <td>   </td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="updateCart()">
                            <span class="glyphicon glyphicon-button"></span> Update
                        </button></td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="confirmOrder()">
                            Confirm <span class="glyphicon glyphicon-play"></span>
                        </button></td>


                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</div>
</body>
</html>